<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KXVWMJ76L6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KXVWMJ76L6');
</script>


<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

<style>
    :root {
        --ja-font-family:  "Noto Sans JP",'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        --base-font-family: "Lato", var(--sys-font-family), var(--ja-font-family), sans-serif;
        --article-font-size: 12pt
    }
</style>

